.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 300px;
    padding: 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.card-container:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-container:hover img {
    transform: translateY(-1px);
}

.card-container:hover button {
    color: #000;
}


.card-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}



.card-container .card-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.card-container .card-text {
    display: flex;
    flex-direction: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    
}

.card-container p {
    margin: 0;
    font-size: 1rem;
    color: #000;
    line-height: 2em;
    font-size: 1.2rem;
}

.card-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.card-container button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    color: #000;
    margin-top: 10px;
    padding: 5px;
}