.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(C:\Users\eyver\OneDrive\Documents\henry\rick_and_morty\Front\public\1920x1080-Rick-and-Morty-Wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;

}
.form-container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 30px;
}

.content .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.content-text h2 {
    font-size: 80px;
    line-height: 1;
    margin: 20px 0;
}

.content-text h2 span {
    font-size: 25px;
}

.content-text p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 40px;
    color: #e4e4e4;
    margin-right: 10px;
    text-decoration: none;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}



.form-container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.logreg-box .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent !important;
    flex-direction: column;
    backdrop-filter: blur(2px);
    color: #e4e4e4;
}

.form-box h2{
    font-size: 40px;
    text-align: center;
    z-index: 99;
    border-bottom: 2px solid #e4e4e4;
    padding: 10px 0;
}

.form-box .form-input {
    position: relative;
    display: flex;
    /* align-items: center; */
    width: 300px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0; 
    padding: 0 10px;
    transition: .5s ease;
    color: #fff;
    z-index: 99;
}

.form-box .form-input:focus {
    border-bottom: 2px solid #008080;
}

.form-input {
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.form-button{
    width: 280px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: background-color 1s ease;
    margin-top: 20px;
}

.form-button:hover {
    color: #333;
    background-color: #ccc;
    transition: 0.5s;
    transform: scale(1.1);
}

form p {
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0;
    margin-bottom: 5px;

} 

.form-input .inputForm{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 28px;
}

.form-input .inputForm::placeholder {
    color: #887777;
}

.form-input .inputForm:focus {
    outline: none;
}

.form-input .label-input{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.form-input .inputForm:focus ~ .label-input,
.form-input .inputForm:valid ~ .label-input{
    top: -5px;
}

.form-input .icon-form{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 20px;
    color: #e4e4e4;
    transition: .5s ease;
}